In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('iris.csv')

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
#mean, median, average, standerd-deviation of sepal-length
data = df['sepal_length'].describe()

In [14]:
print(data)

count    147.000000
mean       5.845578
std        0.832905
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: sepal_length, dtype: float64

In [6]:
df['sepal_length'].median()

5.8

In [7]:
#then findeout the missing values in that dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  147 non-null    float64
 1   sepal_width   148 non-null    float64
 2   petal_length  147 non-null    float64
 3   petal_width   147 non-null    float64
 4   species       148 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
#5th, 95th percentile
tmp = df['sepal_length'].describe([.9, .05])
print('5%  percentiles -> ', tmp['5%'])
print('90% percentiles -> ', tmp['90%'])

5%  percentiles ->  4.6
90% percentiles ->  6.9

In [9]:
#drop the missing value from an dataset
df2 = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  147 non-null    float64
 1   sepal_width   148 non-null    float64
 2   petal_length  147 non-null    float64
 3   petal_width   147 non-null    float64
 4   species       148 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [12]:
#insted of droping missing value from dataset replace with mean value or sepel-value
df3 = df.fillna(df.mean())
df3 = df.fillna('EMPTY_STRING')
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    object
 1   sepal_width   150 non-null    object
 2   petal_length  150 non-null    object
 3   petal_width   150 non-null    object
 4   species       150 non-null    object
dtypes: object(5)
memory usage: 6.0+ KB

In [13]:
#whatever catagorical data present in that dataset, find the total count of that perticular column
df3.sum()

Series([], dtype: float64)